:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  z-index: 10000;

  .mode {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background: #252525;
    box-shadow:  none;

    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      width: 100%;
      button {
        flex: 1;
        margin: 0.25rem;
        min-width: 0;
        padding: 0;
      }
    }
  }
}

// :host.show {
//   transition-duration: 250ms;
//   transition-timing-function: ease-out;
//   bottom: 0;
// }

// :host.hide {
//   transition-duration: 250ms;
//   transition-timing-function: ease-out;
//   bottom: -50vh;
// }

:host.default {
  .mode {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 0;
    opacity: 0;
  }

  .mode.default {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 5000;
    opacity: 1;
  }
}

:host.shift {
  .mode {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 0;
    opacity: 0;
  }

  .mode.shift {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 5000;
    opacity: 1;
  }
}

:host.altgr {
  .mode {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 0;
    opacity: 0;
  }

  .mode.altgr {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    z-index: 5000;
    opacity: 1;
  }
}
