:host {
  position: fixed;
  left: 0;
  bottom: 0;

  border-radius: 0.25rem 0.25rem 0 0;
  background: #252525;
  box-sizing: border-box;
  width: 100vw;
}

.template {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.25rem;
  width: 100%;

  .row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
  }
}

button {
  box-sizing: border-box;
  margin: 0.25rem;
  padding: 0;
  min-width: auto;

  & > * {
    padding: 0;
  }
}

/* ANIMATIONS */
.template {
  opacity: 0;
  z-index: 0;
}
.template.show {
  opacity: 1;
  z-index: 5000;
  transition-timing-function: ease-out;
}
