:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  z-index: 10000;
  background: #252525;
  box-shadow:  0 0 2rem #151515;

  .mode {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      width: 100%;
      button {
        flex: 1;
        margin: 0.25rem;
      }
    }
  }
}

:host.show {
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  bottom: 0;
}

:host.hide {
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  bottom: -50vh;
}
