<div class="layout-default">
  <div *ngFor="let row of rawLayout.rows" class="key-row">
    <button mat-raised-button
      *ngFor="let key of row"
      (click)="onClick(key.value.default)"
      [style.flex]="key.size">
      <div [innerHTML]="key.label.default"></div>
    </button>
  </div>
</div>

<div class="layout-shift">
  <div *ngFor="let row of rawLayout.rows" class="key-row">
    <button mat-raised-button
      *ngFor="let key of row"
      (click)="onClick(key.value.shift)"
      [style.flex]="key.size">
      <div [innerHTML]="key.label.shift"></div>
    </button>
  </div>
</div>

<div class="layout-altgr">
  <div *ngFor="let row of rawLayout.rows" class="key-row">
    <button mat-raised-button
      *ngFor="let key of row"
      (click)="onClick(key.value.altGr)"
      [style.flex]="key.size">
      <div [innerHTML]="key.label.altGr"></div>
    </button>
  </div>
</div>
