:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

a {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;

  i {
    font-size: 1.5rem!important;
  }

  span {
    font-size: 1.5rem!important;
  }
}
