<div class="keyboard">
  <mat-form-field>
    <input type="text" matInput placeholder="RUT:" readonly [(value)]="this.rawValue" />
  </mat-form-field>

  <div class="numbers">
    <button mat-raised-button color="primary" (click)="onKeyPress('1')">
      <span>1</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('2')">
      <span>2</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('3')">
      <span>3</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('4')">
      <span>4</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('5')">
      <span>5</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('6')">
      <span>6</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('7')">
      <span>7</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('8')">
      <span>8</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('9')">
      <span>9</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('k')">
      <span>k</span>
    </button>
    <button mat-raised-button color="primary" (click)="onKeyPress('0')">
      <span>0</span>
    </button>
    <button mat-raised-button color="warn" (click)="onDelete()">
      <i class="fas fa-backspace"></i>
    </button>
  </div>
  <div class="actions">
    <button #btnPrint mat-raised-button color="warn" (click)="onPrint()" [(disabled)]="this.disabled">
      <i class="fas fa-print"></i>
      <span>Imprimir</span>
    </button>
    <a routerLink="/cliente/registro" mat-raised-button color="accent">
      <i class="fas fa-user-plus"></i>
      <span>Registrarse</span>
    </a>
  </div>
</div>

<div class="banner">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>

<div class="bottom">
    <button #btnPrint mat-raised-button color="primary" (click)="onPrintNoRut()">
      <i class="fas fa-print"></i>
      <span>Imprimir sin RUT</span>
    </button>
</div>
