@import '~@angular/material/theming';
@include mat-core();

/* ==== Tema en cuestión ==== */
$color-primary: mat-palette($mat-green, 700);
$color-accent: mat-palette($mat-purple, 600);
$custom-theme: mat-dark-theme(
  $color-primary,
  $color-accent
);

@include angular-material-theme($custom-theme);
