body {
  color: #e5e5e5;
  background: #202020;
}

.mat-toolbar {
  background: #388e3c!important;
}

.mat-datepicker-content {
  overflow: hidden!important;
}

/* BUTTONS */
i~span {
  margin-left: 0.75rem!important;
}
