body {
  color: #e5e5e5;
  background: #202020;
}

.mat-toolbar {
  background: #388e3c!important;
}

.mat-datepicker-content {
  overflow: hidden!important;
}

/* BUTTONS */
i~span {
  margin-left: 0.75rem!important;
}

/* FORM FIELDS */
mat-form-field {
  padding: 0.5rem 1rem 0 1rem;
}

/* MODAL DIALOG */
mat-dialog-container {
  > .ng-star-inserted {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;

    margin: -1.5rem;
    height: 100%!important;

    & > * {
      box-sizing: border-box;
      width: 100%;
    }

    mat-card-title {
      padding: 1rem 1rem 0 1rem;
      margin: 0!important;

      +mat-divider {
        margin-top: 0.5rem!important;
      }
    }

    mat-card-subtitle {
      padding: 1rem;
      margin: 0!important;

      +mat-divider {
        margin-top: 0.5rem!important;
      }
    }

    mat-card-content {
      display: flex!important;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: max-content;
      flex: 1!important;

      padding: 0.5rem 1rem;
      margin: 0!important;
    }

    mat-card-actions {
      display: flex!important;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 1rem!important;
      margin: 0!important;
      height: min-content;
    }
  }
}
