:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  & > div, & h3, & .number {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    margin: 0;
    width: 100%;
  }

  &.current {
    z-index: 50;
    background: #373737;

    @media screen and (orientation: landscape) {
      width: 50%;
      height: 100%;

      h3 {
        height: 15vh;
        font-size: 7vh!important;
      }

      .number {
        height: calc(100% - 15vh - 20vh);
        font-size: 20vh!important;
      }

      .name {
        height: 20vh;
        font-size: 6vh!important;
      }
    }

    @media screen and (orientation: portrait) {
      width: 100%;
      height: 50%;

      h3 {
        height: 15vw;
        font-size: 7vw!important;
      }

      .number {
        height: calc(100% - 15vw - 20vw);
        font-size: 20vw!important;
      }

      .name {
        height: 20vw;
        font-size: 6vw!important;
      }
    }
  }

  &.previous {
    z-index: 10;
    background: #303030;

    @media screen and (orientation: landscape) {
      margin: 2rem 2rem 2rem 0;
      width: calc(50% - 2rem);
      height: calc(100% - 4rem);

      h3 {
        height: 10vh;
        font-size: 4vh!important;
      }

      .number {
        height: calc(100% - 10vh - 15vh);
        font-size: 18vw!important;
      }

      .name {
        height: 15vh;
        font-size: 4vh!important;
      }
    }

    @media screen and (orientation: portrait) {
      margin: 0 2rem 2rem 2rem;
      width: calc(100% - 4rem);
      height: calc(50% - 2rem);

      h3 {
        height: 10vw;
        font-size: 4vw!important;
      }

      .number {
        height: calc(100% - 10vw - 15vw);
        font-size: 18vw!important;
      }

      .name {
        height: 15vw;
        font-size: 4vw!important;
      }
    }
  }
}

.serve {
  display: none;
}
