:host {
  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

mat-card {
  box-sizing: border-box;
  width: calc(100vw - 2rem);
  max-width: 800px;
  padding: 0;

  mat-card-title, mat-card-actions {
    box-sizing: border-box;
    padding: 1rem!important;
    margin: 0!important;
  }

  mat-card-content {
    margin: 0;
    padding-top: 0.5rem;
  }

  mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & > * {
      box-sizing: border-box;
      width: calc(50% - 1rem);
      margin: 0 0.5rem;
      padding: 0.75rem;
      font-size: 1.5rem;
    }
  }
}

mat-form-field {
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
}

.datePickerFG {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 2rem;
}

.simple-keyboard {
  position: absolute;
}

.key-num::ng-deep {
  .keyboard {
    left: 30vw;
    width: 40vw!important;
  }
}

button {
  box-sizing: border-box;
}
