<mat-card>
  <mat-card-title>Registro:</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="row">
    <mat-form-field class="col-4">
      <input matInput #txtRut [(value)]="data.rut" type="text" placeholder="RUT*:">
      <app-keyboard [input]="txtRut"></app-keyboard>
    </mat-form-field>
    <mat-form-field class="col-8">
      <input matInput #txtNombres type="text" placeholder="Nombres*:">
      <app-keyboard [input]="txtNombres"></app-keyboard>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput type="text" placeholder="Apellido Paterno*:">
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput type="text" placeholder="Apellido Materno*:">
    </mat-form-field>
    <mat-form-field class="col-6">
      <div class="datePickerFG" (click)="datePicker.open()"></div>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker disabled="false" [touchUi]="true"></mat-datepicker>
      <input matInput
        type="text" [max]="dateMax"
        [matDatepicker]="datePicker"
        placeholder="Fecha Nacimiento*:"
        disabled>
    </mat-form-field>
  </mat-card-content>
</mat-card>
