<mat-card>
  <mat-card-title>Registro de Usuarios:</mat-card-title>
  <mat-card-subtitle>Coloque sus datos, y a continuación presione en "Registrarse"</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content class="row">
    <mat-form-field class="col-4">
      <input matInput appKeyboard
        type="text"
        keyboard="rut"
        placeholder="RUT (requerido):"
        [(value)]="this.rut"
        (keyup)="this.rut = $event.target.value"
        (keyup)="this.onKeyUpRut()"
        (focusOut)="this.onBlurRut($event)">
      <app-tooltip faIcon="far fa-question-circle" duration="4000" horAlign="left" width="calc(100vw - 6rem)">
        Se usará para brindarle una atención personalizada, identificar sus compras, y de esta forma ofrecerle promociones en base a los productos que más sule consumir.
      </app-tooltip>
    </mat-form-field>
    <mat-form-field class="col-8">
      <input matInput appKeyboard
        type="text"
        keyboard="text"
        placeholder="Nombres (requerido):"
        [(value)]="this.nombres"
        (keyup)="this.nombres = $event.target.value"
        (keyup)="onBlurAll()"
        (focusOut)="this.onBlurAll()">
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput appKeyboard
        type="text"
        keyboard="text"
        placeholder="Apellido Paterno (requerido):"
        [(value)]="this.apellidoP"
        (keyup)="this.apellidoP = $event.target.value"
        (keyup)="onBlurAll()"
        (focusOut)="this.onBlurAll()">
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput appKeyboard
        type="text"
        keyboard="text"
        placeholder="Apellido Materno:"
        [(value)]="this.apellidoM"
        (keyup)="this.apellidoM = $event.target.value"
        (keyup)="onBlurAll()"
        (focusOut)="this.onBlurAll()">
    </mat-form-field>
    <mat-form-field class="col-6">
      <div class="datePickerFG" (click)="datePicker.open()"></div>
      <mat-datepicker #datePicker disabled="false" [touchUi]="true"></mat-datepicker>
      <input matInput
        type="text" [max]="this.maxDate"
        [matDatepicker]="datePicker"
        [(value)]="this.fechaNac"
        placeholder="F. Nacim (requerido):"
        (dateChange)="this.onCheckDate($event.value)"
        disabled>
      <app-tooltip faIcon="far fa-question-circle" duration="4000">
        Por medio de su fecha de nacimiento podremos ofrecerle ofertas por el día de su cumpleaños.
      </app-tooltip>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput appKeyboard
        type="text"
        keyboard="num"
        placeholder="Teléfono:"
        [(value)]="this.phone"
        (keyup)="this.phone = $event.target.value"
        (keyup)="this.onKeyUpPhone($event.target)"
        (focus)="this.onFocusPhone($event.target)"
        (focusOut)="this.onBlurPhone($event.target)">
      <app-tooltip faIcon="far fa-question-circle" duration="4000">
        En caso de que coloque su número de teléfono, le enviaremos ofertas por medio de Whatsapp.
      </app-tooltip>
    </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput appKeyboard
        type="text"
        keyboard="text"
        placeholder="E-Mail:"
        [(value)]="this.email"
        (keyup)="this.email = $event.target.value"
        (keyup)="onBlurAll()"
        (focusOut)="this.onBlurEmail($event.target)">
      <app-tooltip faIcon="far fa-question-circle" duration="4000">
        En caso de que coloque su correo electrónico, le enviaremos ofertas por medio de éste.
      </app-tooltip>
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button
    color="primary"
    (click)="this.onBack()">
      <i class="fas fa-angle-left"></i>
      <span>Volver</span>
    </button>
    <button mat-raised-button
    *ngIf="!this.editing"
    color="accent"
    (click)="this.onRegister()"
    disabled="{{ !this.enabled }}">
      <i class="fas fa-user-plus"></i>
      <span>Registrarse</span>
    </button>
    <button mat-raised-button
    *ngIf="this.editing"
    color="accent"
    (click)="this.onUpdate()"
    disabled="{{ !this.enabled }}">
      <i class="fas fa-user-plus"></i>
      <span>Actualizar</span>
    </button>
  </mat-card-actions>
</mat-card>
